section {
    width: 40%; margin-left:auto; margin-right:auto;}
.slick-slider {
    margin: auto;
    margin-top: 0px;
    margin-bottom: 0px;
}
.slick-slide img {
    width: 40%;
    display: block;
    border: 5px solid white;
}

.slick-slide .image {
    padding: 10px;
}

@media only screen and (min-width:769px) {
    .content {
    width: 600px;
    margin: auto;
    padding: 20px;
}
}@media only screen and (max-width:420px) {
    table {
    margin: 20px auto 10px;
    font-size: 10px;
}
}@media only screen and (max-width:768px) {
    .content {
     margin: auto;
    padding: 0px 20px;
}
}